
body {
   background-image: url("https://plus.unsplash.com/premium_photo-1752736615572-5f4355eb2dfb?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



h1 {
    background: #140b0b;
    border: 2px solid #0f0;
    color: #0f0;  
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}


a {
    font-size: 18px;
    text-align: center;
    color: #e61414;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none

}
.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.category-button {
    display: block;
    width: 200px;
    padding: 150px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: rgb(248, 243, 243);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #0f0;
}
.category-button:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px #000000;
}

.mainbtn button {
    text-align: center;
    background: #140b0b;
  border: 2px solid #0f0;
  color: #0f0;
    padding: 10px;
    margin: 10px;
     width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.mainbtn button:hover { 
    background-color: #1b682f;
}

.Quiz {
    display: none;
    max-width: 600px;
    margin: 30px auto;
    background-color: rgba(234, 235, 236, 0.617);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.question-box {
    margin: 20px 10px;
}




.question-text {
    font-size: 20px;
    color: #311818;
    margin-bottom: 25px;
    font-weight: 800;
}


.next-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
}

.next-btn:hover {
    background-color: #306b32;
}

.score {
    text-align: center;
    background: #140b0b;
  border: 2px solid #0f0;
  color: #0f0;
    padding: 10px;
    margin: 100px;
     width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
    

}

.restart-btn {
   display: none;
    width: 200px;
    padding: 15px;
    background-color: #4CAF50;
    color: rgb(248, 243, 243);
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px auto;


}
.results-section {
    display: none;
}



.restart-btn:hover {
    background-color: #306b32;
}
.option:hover {
    background-color: #1e7e1e;
}
.correct {
    background-color: #4CAF50;
    color: white;
}
.incorrect {
    background-color: #f44336;
    color: white;
}   


