


body {
   background-image: url("https://plus.unsplash.com/premium_photo-1752736615572-5f4355eb2dfb?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    min-width: 100vw;
}
h1 {
    background: #140b0b;
    border: 2px solid #0f0;
    color: #0f0;  
    
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.intro-section {
    text-align: center;
}
   

h2 {
    text-align: center;
    background: #140b0b;
  border: 2px solid #0f0;
  color: #0f0;
    padding: 10px;
    margin: 10px;
     width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;


}

p {
    text-align: center;
    background: #140b0b;
  border: 2px solid #0f0;
  color: #0f0;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
     width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    


}
a {
    font-size: 18px;
    text-align: center;
    color: #070303;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none

}

.btn {
  position: center;
  padding: 1.5rem 3rem;
  font-size: 18px;
  font-weight: 600;
  color: #e5dede;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  place-items: center;
  margin: 200px auto;
  

}
.aligns{
    text-align: center;
    padding: 175px;
}

.matrix {
  background: #140b0b;
  border: 2px solid #0f0;
  color: #0f0;
}

.code-rain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.matrix:hover .code-rain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
