
body {
    background-color: rgb(76, 150, 184);
    
    




}
h1 {
    text-align: center;
    color: #0e0808;
    font-family: 'Arial', sans-serif;
    margin-top: 30px;

}




p {
    text-align: center;
    color: #0e0808;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;


}
a {
    font-size: 18px;
    text-align: center;
    color: #070303;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none

}
.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.category-button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.category-button:hover {
    background-color: #45a049;
    box-shadow: inset 0 0 5px #000000;
}

.mainbtn button {
    display: block;
    margin: 200px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f44336;
    color: rgb(240, 231, 231);
    border: white;
    border-radius: 5px;
    cursor: pointer;
}
.mainbtn button:hover { 
    background-color: #da190b;
}

.Quiz {
    display: none;
    max-width: 600px;
    margin: 30px auto;
    background-color: rgba(234, 235, 236, 0.617);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.question-box {
    margin: 20px 10px;
}




.question-text {
    font-size: 20px;
    color: #311818;
    margin-bottom: 25px;
    font-weight: 800;
}


.next-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
}

.next-btn:hover {
    background-color: #306b32;
}

.score {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    margin: 20px 10px;
    display: block;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}

.restart-btn {
    background: #4CAF50;
    color: white;
    margin: 20px 20px 2px 1200px;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;


}
